@model Beachapp.Dtos.BeachDto;

@{
    ViewData["Title"] = "Beach form";
}

<div class="container">
<h1>New Beach</h1>


<form method="post" enctype="multipart/form-data" asp-action="CreateBeach" asp-controller="Beach">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="BeachName" class="control-label"></label>
        <input asp-for="BeachName" class="form-control" />
        <span asp-validation-for="BeachName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BeachDetails" >Example textarea</label>
        <textarea asp-for="BeachDetails" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <span asp-validation-for="BeachDetails" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BeachPicture" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="BeachPicture" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="BeachPicture" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
 @Html.HiddenFor(m => m.BeachId)
</form>
</div>