@model IEnumerable<Beachapp.Models.Beach>

@{
    ViewData["Title"] = "Beach Page";
}

<h1>Lists of Beaches</h1>
<a asp-controller="Beach" asp-action="CreatBeach" class="btn btn-primary btn-group-lg mb-5">New Beach</a>


 <div class="container">
          <div class="row">
@foreach(var beach in Model)
{
              <div class="col-6 col-md-4 col-sm-8">
                  <div class="card">
                    <img class="card-img-top" src="~/Image/niyi.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">@beach.BeachName</h5>
                        <p class="card-text ">@beach.BeachDetails</p>
                        <a href="#" class="btn btn-primary">Know more</a>
                      </div>
                  </div>
              </div>
}
          </div>
     </div>
